{% extends 'ProyectoWebApp/base.html' %}
{% block title %} Blog {% endblock %}
{% load static %}

{% block content %}

<h1>Bienvenidos al blog actualizado</h1>

{% for post in posts %}

<section class="page-section clearfix">
    <div class="container">
        <div class="intro">
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{{post.imagen.url}}" style="width: 500px; height: 400px;">
            <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                <h2 class="section-heading mb-4">
                    <span class="section-heading-lower">{{post.titulo}}</span>
                    <span class="section-heading-upper">{{post.contenido}}</span>
                    <span class="section-heading-upper">{{post.created}}</span>
                    <span class="section-heading-upper">{{post.updated}}</span>
                </h2>
                <div style="text-align: left; font-size: 0.8em;">
                    Autor: {{post.autor}}
                </div>
            </div>
        </div>
    </div>
</section>


{% endfor %}

<section>
    <div style="width: 75%; margin: auto; text-align: center; color: white;">
        
        Categorías: 
        {% for post in posts %}

            {% for categoria in post.categorias.all %}

            {{categoria.nombre}} &nbsp;&nbsp;&nbsp;

            {% endfor %}

        {% endfor %}

    </div>


</section>

{% endblock%}